<!doctype html>
<html lang="en">

{{>head}}

<body>
    <header>
        {{>header}}
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <footer>
        {{>footer}}
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{>script}}
</body>

</html>